server/database/rng-schemas/table-defs.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0">

  <define name='table'>
    <element name='table'>
      <attribute name='name'/>
      <optional>
        <attribute name='history'>
          <!-- Default value: 1 -->
          <ref name='bool'/>
        </attribute>
      </optional>
      <oneOrMore>
        <element name='primaryKey'>
          <attribute name='name'/>
        </element>
      </oneOrMore>
      <oneOrMore>
        <ref name='column'/>
      </oneOrMore>
      <zeroOrMore>
        <ref name='trigger'/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name='constraint'/>
      </zeroOrMore>
    </element>
  </define>

  <!-- Columns -->
  <define name='column'>
    <element name="column">
      <attribute name="name"/>
      <attribute name="type"/>
      <optional>
        <attribute name='nullAllowed'>
          <!-- Default value: 1 -->
          <ref name='bool'/>
        </attribute>
      </optional>
      <optional>
        <attribute name='default'/>
      </optional>
    </element>
  </define>

  <!-- Triggers. -->
  <define name='trigger'>
    <element name='trigger'>
      <attribute name='name'/>
      <attribute name='when'/>
      <attribute name='each'/>
      <attribute name='execute'/>
    </element>
  </define>

  <!-- Constraints. -->
  <define name='constraint'>
    <element name='constraint'>
      <!-- If the name attribute is present it will be used as the
           name of the constraint, otherwise a name will be
           auto-generated -->
      <optional>
        <attribute name='name'/>
      </optional>
      <choice>

        <!-- uniqueness constraints -->
        <group>
          <attribute name='type'>
            <value>unique</value>
          </attribute>
          <oneOrMore>
            <element name='column'>
              <attribute name='name'/>
            </element>
          </oneOrMore>
        </group>

        <!-- foreign key constraints -->
        <group>
          <attribute name='type'>
            <value>foreignKey</value>
          </attribute>
          <attribute name='refTable'/>
          <optional>
            <!--
                makesEnumeration is a hint to UIs that there should be
                a drop-down widget or tab completion based on the
                contents of the referenced table. It does not change
                any aspect of the table in the database.
            -->
            <attribute name='makesEnumeration'>
              <!-- Default Value: 1 -->
              <ref name='bool'/>
            </attribute>
          </optional>
          <oneOrMore>
            <element name='column'>
              <attribute name='name'/>
              <attribute name='references'/>
            </element>
          </oneOrMore>
        </group>

        <!-- Generic constraints. -->
        <group>
          <attribute name='type'>
            <value>generic</value>
          </attribute>
          <text/>
        </group>

      </choice>
    </element>
  </define>

</grammar>
